@model OnePageCheckoutModel
@using Nop.Core
@using Nop.Services.Customers
@inject IWebHelper webHelper
@inject IWorkContext workContext
@inject ICustomerService _customerService
@{
    var storeLocation = webHelper.GetStoreLocation();
}

<section id="opc-billing" class="tab-section allow">
    <div class="step-title">
        <h2 class="title">@T("Checkout.BillingAddress")</h2>
    </div>
    <div id="checkout-step-billing" class="step a-item">
        <form id="co-billing-form" action="">
            <div id="checkout-billing-load">
                @await Html.PartialAsync("OpcBillingAddress", Model.BillingAddress)
                @*billing address content will be loaded here*@
            </div>
        </form>
        <script asp-location="Footer">
            Billing.init('#co-billing-form', '@(storeLocation)simplecheckout/OpcSaveBilling/',
                                                    @(Model.DisableBillingAddressCheckoutStep.ToString().ToLowerInvariant()),
            @((await _customerService.IsGuestAsync(await workContext.GetCurrentCustomerAsync())).ToString().ToLowerInvariant()));
            if ($("#billing-address-select").length > 0) {
                Billing.newAddress(!$('#billing-address-select').val());
            }
        </script>
        <div class="buttons" id="billing-buttons-container">
            <button id="edit-address-button" type="button" class="button-1" style="display: none" onclick="Billing.editAddress('@(storeLocation)simplecheckout/GetAddressById/'); return false;">@T("Common.Edit")</button>

            <button id="delete-address-button" type="button" class="button-1" style="display: none" onclick="Billing.deleteAddress('@(storeLocation)simplecheckout/DeleteEditAddress/'); return false;">@T("Common.Delete")</button>

            <button id="save-address-button" type="button" class="button-1" style="display: none" onclick="Billing.saveEditAddress('@(storeLocation)simplecheckout/SaveEditAddress/'); return false;">@T("Common.Save")</button>

            <button type="button" name="save" class="button-1 new-address-next-step-button" onclick="Billing.save()">@T("Common.Continue")</button>

            <span class="please-wait" id="billing-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
        </div>
    </div>
</section>